# start empty
*

# add source and bundles
!**/src/**
!**/dist/**

# exclude:
# - source neighbouring docs
*.md
# - garbage
.DS_Store
# - dependencies
node_modules
# - exclude subpackages dependencies
*/node_modules